
  body{
    background-image: url(/assets/vista-frontal-del-chef-de-reposteria-preparando-pastel-con-chocolate.jpg); 
    background-size: cover;        
    background-position: center;   
   
     font-family: 'Cormorant Garamond', serif;
   
    
  }


header{
    background: rgb(255, 255, 255,0.2);
    position: sticky;
    top: 0;

   
    backdrop-filter: blur(10px); /* efecto glass/frosted */
    border-bottom: 0.7px solid rgba(255, 255, 255, 0.25);
    color:white;
}

a{
font-size: 1.5rem;
font-weight: 100;
text-decoration: none; 
transition: 0.2s ease;
color: white;
}
a:hover{
    transform: scale(1.05);
}

.nav_bar{
    display: flex;
    justify-content: space-around  ;
    align-items: center;
}
.enlaces{
    display: flex;
    gap: 30px;
}
.logo{
    font-size: 1.3rem;
    font-weight: 200;

}

h1{
     font-size: 3rem;
    font-weight: 200;
    color: white;
    text-shadow:  0px 0px 5px rgba(255, 255, 255, 0.7);;
}
h3{
     font-size: 1.3rem;
    font-weight: 100;
    color: white;
    text-shadow:  0px 0px 5px rgba(0, 0, 0, 0.7);;

}
/*-------------------------------------INDEX-------------------------*/
 main{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .formulari{
    display: flex;
    flex-direction: column;
    width: 35rem;
    background-color: rgb(255, 255, 255);
    border: rgb(61, 61, 61) solid;
    border-radius: 15px;
    padding: 1rem;
    box-shadow:  0px 0px 5px rgba(255, 255, 255, 1);

    gap: 1rem;
 }

  input {
    padding: 0.7rem;
    border: #f2f2f2;
    background-color: #f2f2f2;
    border-radius: 6px;
    transition: 0.2s ease;
    
   
}
input:hover{
     cursor: pointer;
     background-color: #d5d5d5; 

}
input:focus {
    outline: none;
    box-shadow: 0 0 10px #5f5f5f;
    background-color: white;
    transform: scale(1.03);    

}

.req{
    color: red;
}





input[type="text"]:invalid,
input[type="email"]:invalid,
input[type="tel"]:invalid,
input[type="number"]:invalid  {
    color: rgb(255, 92, 92);
    border: 0.5px solid red;
}

input[type="color"] {
    width: 50px;
    height: 40px;
    border-radius: 6px;
    padding: 0; 
    background-color: white;
}

input[type="checkbox"] {
    
    accent-color: #ffee8c; /* color pastel */
   
}

input[type="checkbox"]:hover,
input[type="radio"]:hover {
    transform: scale(1.1);
    transition: 0.2s;
}


select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f7f7f7;
    transition: 0.3s ease;
}

select:hover {
    background-color: #eedeff; 
}

select:focus {
    outline: none;
    box-shadow: 0 0 10px #5f5f5f;
    background-color: white;
    transform: scale(1.03);
}

textarea{
     border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f7f7f7;
    transition: 0.3s ease;
    
}

textarea:hover{
    background-color: #eedeff; 
    

}

textarea:focus{
    outline: none;
    box-shadow: 0 0 10px #e5d5fe;
    background-color: white;
    transform: scale(1.03);

}
.botones{
    display: flex;
    justify-content: center;
    gap: 3rem;
    

}
button{
    padding: 0.8rem;
    border:none;
    border-radius: 15px;
    font-weight: 700;
    transition: 0.3s ease;
}

button:hover{
    cursor: pointer;
    transform: scale(1.03);
    background-color: #eedeff; 

}


/*-------------------------------------INTERACCIÓ-------------------------*/
input[type="radio"] {
    display: none;
}
    
.tab_botones {
    display: flex;
    justify-content: space-around;
}


.tab_botones label {
    display: flex;          
    justify-content: center; 
    align-items: center;    
    padding: 1.25rem 2.50rem;
    color: white;
    background: rgb(238, 238, 238,0.1);
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 3rem;

    font-size: 1.5rem;
    font-weight: 200;
    text-shadow: 0px 0px 5px rgb(255, 255, 255, 0.2);
}

.cake{
    display: flex;
    justify-content: center;
    margin-bottom:3rem ;
}

.tab_botones label:hover {
 transform: scale(1.1);
}
.contenido { /* hacemos desaparecer  el contenido*/
    display: none;
    margin: 0;
   text-align: center;

    
    
}
.contenido img {
    width: 44rem;       
    height: 22rem;
    object-fit: cover;  /* se ajusta sin deformarse */
    border-radius: 18px;
   

}

.contenido_1 img{
    box-shadow: 0px 0px 10px rgba(255, 250, 184, 0.5);
}
.contenido_2 img{
    box-shadow: 0px 0px 10px rgba(244, 78, 208, 0.5);
}

.contenido_3 img{
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}




/*conectar cada radio con su contenido*/
body:has(#t1:checked) .contenido_1 {
    display: block;
}

body:has(#t2:checked) .contenido_2 {
    display: block;
}

body:has(#t3:checked) .contenido_3 {
    display: block;
}

/*cambiar de color cuando  esta seleccionado*/

body:has(#t1:checked) .tab_botones label[for="t1"],
body:has(#t2:checked) .tab_botones label[for="t2"],
body:has(#t3:checked) .tab_botones label[for="t3"] {
    background: white;
    color: black;
    border-bottom: 1px solid white;
    font-weight: bold;
}

.tabs_contenido{
    margin-bottom: 3rem;
}
