
body {
    background: linear-gradient(135deg, 
         #ffee8c 0%,
        #fbb0e7 50%, 
        #ffee8c 100%
    );

   

}


/*-------------------------------------INDEX-------------------------*/

header{
    top: 0;
    position: sticky;
}
.nav_bar{
    display: flex;
    justify-content: space-around  ;
    align-items: center;
}
.enlaces{
    display: flex;
    gap: 30px;
}
.logo{
    font-size: 20px;
}
 main{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .formulari{
    display: flex;
    flex-direction: column;
    width: 35rem;
    background-color: rgb(255, 255, 255);
    border: black solid;
    border-radius: 15px;
    padding: 1rem;
 }